#user_card_setting {
    height: auto;
    width: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    background: #F5AB36;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px 15px 15px black;
    border-radius: 5px;
}
#resetPassword_btn {
    width: 50%;
    background: #E22146 !important;
    color: white !important;
}
#resetPassword_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#setting_container {
    padding: 0 2rem;
}
#title{
    display: flex;
    justify-content: space-around;
    color:#3E93A3;
    margin-bottom: 20px;
}
#email,
#email:focus {
    box-shadow: none !important;
    outline: 0px !important;
}


/* NEVER USED
.user_card1 {
    height: 250px;
    width: 400px;
    margin-top: auto;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    background: #F5AB36;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px 15px 15px black;
    border-radius: 5px;
}
#display{
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.loginFooter{
    display: flex;
    flex-direction: column;
}
*/