body{
    margin-top: 50px; /*Passer la NavBar*/
}

.myCard{
    padding-top: 30px;
}
.auth-card{
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}
.add-card{
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: baseline; */
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
}
.modif-card{
    padding: 20px;
    text-align: center;
    max-width: 500px;
    margin: 10px auto;
}
.loginFooter{
    display: flex;
    flex-direction: column;
}

/* .mcl{
    display: flex;
    flex: auto;
    justify-content: space-between;
    width: 100%;
} */

/*Filtre*/
.filterDiv {
    display: none;
}
.show {
    display: flex;
    flex-direction: row;
}

.formulaire{
    display: flex;
    justify-content: space-around;
}
.lessonSelection{
    display: flex;
    justify-content: space-around;
}
.card-title{
    display: flex;
}
.imgTest{
    max-width: 30%;
}


/* Page d'un cours */

.fullLessonPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.lessonImage{
    max-width: 50%;
    margin: auto auto;
    margin-bottom: 1%;
}
.lessonTitle{
    text-align: center;
    margin-bottom: 1%;

}
.progressBarLesson{
    width: 80%;
    margin: auto auto;
    margin-bottom: 2%;

}
.lessonDescription{
    width: 90%;
    margin: auto auto;
    margin-bottom: 1%;
}
.lessonPlan{
    width: 90%;
    margin: auto auto;
    margin-bottom: 2%;

}
.lesson{
    width: 90%;
    margin: auto auto;
    margin-bottom: 1%;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}


/* MES COURS */
.myLessonCard{
    display: flex;
    flex-direction: row;
}