#spaceAddLesson{
    padding-bottom: 5px;
}
#add-card-lesson{
    border-width: 5px;
    border-color: #f5ab36;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
}
.add-card-AddLesson{
    border-width: 5px;
    border-color: #f5ab36;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
}
.spaceAdd{
    padding-bottom: 10px;
}
.btn_PopUp{
  padding: .1rem .40rem;
}


/* POPUP */
#popUpSubject {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  #popUpChapter{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /*overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }