label {
    border: 1px solid rgba(179, 179, 179, 0.432);
    border-radius: 0.3rem;
  }

#sizeQuestionRender{
    display: flex;
    height: 150px;
    overflow-y:auto;
}
  #quizWay{
      display: flex;
  }

  .form-control{
      display: flex;
      height: auto;
      align-items: center;
  }
  #questNumber{
      width: auto
  }
.add-card-AddQuestion{
    border-width: 5px;
    border-color: #f5ab36;
    padding: 20px;
    text-align: center;
    max-width: 700px;
    margin: 10px auto;
}
#text{
    display: flex;
    flex-direction: column;
    height: 210px;
    overflow-y:auto;
}
#singleQuestion{
    display: flex;
}
#existingQuestionNumber{
    width: auto;
}