.card-title-coursPrecis{
    display: flex;
}
#fullLessonPage{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#lessonToHide{
    display: flex;
    flex-direction: column;
}

#lessonImage{
    max-width: 25%;
    margin: auto auto;
    margin-bottom: 1%;
}
#lessonTitle{
    text-align: center;
    margin-bottom: 1%;
}
#progressBarLesson{
    width: 80%;
    margin: auto auto;
    margin-bottom: 2%;
}
#lessonDescription{
    width: 90%;
    margin: auto auto;
    margin-bottom: 1%;
}
#lessonPlan{
    width: 90%;
    margin: auto auto;
    margin-bottom: 2%;
}
.leconPrecise{
    width: 90%;
    margin: auto auto;
    margin-bottom: 1%;
}
#buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}
#coursPrecisLeconTitreLecons{
    margin-bottom: 0px;
}
#coursPrecisLeconTitreQuiz{
    margin-bottom: 0px;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
}

#quiz{
    display: none;
}
#enonce{
    display: flex;
}
#num{
    margin-right: 10px;
}
#showScore{
    display: none;
}



/* ///////////////// */

.containerQuiz {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    /* max-width: 700px */
}

.options {
    position: relative;
    padding-left: 40px
}

#options label {
    /* display: flex; */
    display: block;
    margin-bottom: 15px;
    /* font-size: 14px; */
    cursor: pointer
}

.options input {
    opacity: 0
}

.checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    /* border-radius: 50% */
}

.options input:checked~.checkmark:after {
    display: block
}

.options .checkmark:after {
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    /* border-radius: 50%; */
    transform: translate(-50%, -50%) scale(0);
    transition: 300ms ease-in-out 0s
}

.options input[type="checkbox"]:checked~.checkmark {
    background: #21bf73;
    transition: 300ms ease-in-out 0s
}

.options input[type="checkbox"]:checked~.checkmark:after {
    transform: translate(-50%, -50%) scale(1)
}


@media(max-width:576px) {
    .question {
        width: 100%;
        word-spacing: 2px
    }
}