#login_btn {
    width: 100%;
    background: #E22146 !important;
    color: white !important;
}
#login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#login_container {
    padding: 0 2rem;
}
#user_card_login {
    height: 400px;
    width: 350px;
    margin-top: 100px;
    margin-bottom: auto;
    background: #F5AB36;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 10px 15px 15px black;
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
#brand_logo_container_login {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #3E93A3;
    padding: 10px;
    text-align: center;
}
#brand_logo_login {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}
#form_container_login {
    margin-top: 100px;
}


/* NEVERUSED 
#display{
    margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
.form_container {
    margin-top: 0px;
}
*/